<div class = 'wrap pt-2 mt-2'>
  <h1>{{ .Title }}</h1>
  {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "").ByPublishDate }}
  {{- $size := $paginator.PageSize }}
  {{- $scratch := newScratch }}
  <div class='grid-2 article_showcase'>
  {{- range $index, $value := $paginator.Pages }}
    {{ if isset .Params "image" }}
      {{ $scratch.Set "image" .Params.image }}
    {{ else }}
      {{ $scratch.Set "image" "thumbnail.svg" }}
    {{ end }}
    {{ $image := $scratch.Get "image" }}
    {{ $bg := (absURL (printf "uploads/%s" $image)) }}
    {{- if in $image "https://" }}
      {{- $bg = $image }}
    {{- end }}
  <article class = 'article mb-2'>
    <a href = '{{ $value.Permalink }}'>
      <div class = 'article_thumb' style='background-image: url({{ $bg }})'></div>
      <div class = 'article_meta'>
        <time class = 'post_date'>{{ dateFormat "January 02, 2006" $value.Date }}</time>
        <h3 class = 'article_title'>{{ $value.Title }}</h3>
        <div class = 'article_excerpt visible'>
        <p>{{ $value.Description }}</p>
        </div>
      </div><div class="archive wrap mt">
    </a>
  </article>
  {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
  {{- end }}
</div>
